@media screen and (max-width: 923px) {
  html {
    font-size: 14px;
  }
  h1 {
    font-size: 3.5rem;
    line-height: 1;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.2rem;
  }
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27rem;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    position: fixed;
    left: 0;
    z-index: 2;
  }

  header.hide-nav {
    top: -17rem;
  }

  nav {
    position: relative;
    top: -3rem;
    text-align: center;
  }

  nav > ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* width: 16rem; */
    list-style-type: none;
    font-size: 1.4rem;
    transition: color 0.5s;
  }

  .display-image {
    width: 25vh;
    min-width: 8rem;
    max-width: 27rem;
    position: fixed;
    left: 50%;
    margin-left: -12.5vh;
    margin-top: unset;
    border-radius: 50%;
    z-index: 3;
  }

  .display-image.hide-nav {
    top: 1rem;
  }

  .display-image.border {
    border: 6px solid #ffedf1;
  }

  .home-sections {
    width: 100%;
    height: 100vh;
    max-height: unset;
    min-height: 835px;
    display: flex;
    justify-content: center;
    /* justify-content: flex-end; */
    align-items: center;
    margin-left: unset;
  }

  .home-sections > .content {
    padding: 2rem;
    width: 100%;
    background: #ffffffd6;
    border-radius: 20px;
    /* box-shadow: 2px 2px 10px #8080804d; */
    z-index: 10;
    margin: 1rem;
  }

  .button {
    width: 100%;
  }

  .button-container-center {
    display: none;
  }

  .contact-button {
    margin-right: 1rem;
  }

  footer {
    display: block;
    left: 50%;
    margin-left: -10rem;
    width: 20rem;
    position: absolute;
    bottom: 1.5rem;
    text-align: center;
  }
  footer .content {
    width: 100%;
  }
  footer p {
    padding: 0;
  }
}

@media screen and (max-width: 462px) {
  h1 {
    font-size: 2.9rem;
  }
  p {
    font-size: 1rem;
  }
  .display-image {
    width: 47vw;
    min-width: 8rem;
    max-width: 19rem;
    position: fixed;
    left: 50%;
    margin-left: -25.5vw;
    margin-top: unset;
    border-radius: 50%;
    z-index: 3;
  }
}
