*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:active,
a:link,
a:visited {
  color: rgb(140 140 140);
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: rgb(105, 105, 105);
  /* font-family: "Libre Baskerville", serif; */
}

.container {
  width: 100%;
  line-height: 2;
}

header {
  width: 40%;
  height: 100vh;
  /* background: linear-gradient(to bottom, #fff2e6, #ffc2dd, #fff2e6); */
  background: #ffedf1;
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
  position: fixed;
  left: 0;
  z-index: 2;
}

nav {
  position: absolute;
  bottom: 5rem;
  left: 10%;
}
nav > ul {
  display: flex;
  height: 8rem;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1.4rem;
  transition: color 0.5s;
}

/* .whiteFont {
  color: white;
} */

.display-image {
  width: 25%;
  max-width: 27rem;
  position: fixed;
  left: 15%;
  top: 50%;
  margin-top: -12.5%;
  border-radius: 50%;
  z-index: 3;
}

.display-image.border {
  border: 10px solid #ffedf1;
}

.landing-img {
  /* opacity: 0; */
}

.anna-img {
  opacity: 0;
}

.skills-img {
  opacity: 0;
}

.contact-img {
  opacity: 0;
}

main {
  width: 100%;
  position: relative;
  right: 0;
  transition: background 0.5s;
}

.home-sections {
  width: 60%;
  height: 100vh;
  margin-left: 40%;
  max-height: 61rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-sections > .content {
  width: 70%;
  max-width: 44rem;
}

.project {
  margin-left: 40%;
  /* max-height: 61rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.project > img {
  margin-right: 2rem;
}

.project > .content {
  width: 70%;
  max-width: 44rem;
  box-shadow: 2px 2px 8px #b9b9b973;
  margin: 8rem 0 0;
  padding: 2rem;
}
.project > .content img {
  float: right;
  opacity: 0.3;
}
.project:last-child > .content {
  margin: 8rem 0;
}

h1 {
  font-size: 5rem;
  font-family: alisha, sans-serif;
  line-height: 1;
  margin-bottom: 2rem;
  color: #fa5c5c;
}

h2 {
  font-size: 3rem;
  font-family: alisha, sans-serif;
  line-height: 1;
  margin-bottom: 2rem;
  color: #fa5c5c;
}

p,
ul {
  font-size: 1.2rem;
  /* padding: 1rem 0; */
}

.content ul {
  list-style-position: inside;
}

blockquote p {
  font-size: 1rem;
  margin-top: 2rem;
}

.landing-page {
  max-height: none;
  position: relative;
}

.button-container {
  height: 7rem;
  display: flex;
  align-items: center;
}

.button-container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 4rem;
}

.button {
  width: 10rem;
  height: 2.7rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  color: #fa5c5c;
  border: solid 2px #fa5c5c;
  cursor: pointer;
  background: none;
  font-family: inherit;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background: #ff8d8d;
  border: solid 2px #ff8d8d;
  color: white;
}

.contact-button,
.livesite-button {
  margin-right: 2rem;
  background: #fa5c5c;
  color: white;
}

a.livesite-button {
  color: white;
}
a.github-button {
  color: #fa5c5c;
}

.emphasize-text,
a.emphasize-text {
  color: #ff7a7a;
}

h1 .emphasize-text {
  color: #fa5c5c;
}

footer {
  display: flex;
  justify-self: center;
  align-items: center;
}
footer .content {
  width: 60%;
  margin-left: 40%;
  text-align: center;
}
footer p {
  padding: 0;
}

.contact-form {
  display: grid;
  grid-template-areas:
    "name email "
    "subject subject"
    "message message"
    "submit submit";
  grid-gap: 0.5rem 2rem;
}

.form-label {
  display: block;
  padding: 0.5rem;
}
.form-input {
  width: 100%;
  height: 2.3rem;
  padding: 0.5rem;
  border-radius: 3px;
  border: solid #c1c1c1 1.7px;
}

.form-group-name {
  grid-area: name;
}
.form-group-email {
  grid-area: email;
}
.form-group-subject {
  grid-area: subject;
}
.form-group-message {
  grid-area: message;
}

.form-input {
  resize: none;
  -webkit-appearance: none;
  font-family: "Lato";
}

.form-message {
  height: 10rem;
  -webkit-appearance: none;
}

.hamburger-nav {
  background-image: url("data:image/svg+xml,%3Csvg width='273' height='273' viewBox='0 0 273 273' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='273' height='273' fill='white'/%3E%3Crect x='48' y='63' width='177' height='30' rx='12' fill='%23DA2F2F'/%3E%3Crect x='48' y='121' width='177' height='30' rx='12' fill='%23DA2F2F'/%3E%3Crect x='48' y='177' width='177' height='30' rx='12' fill='%23DA2F2F'/%3E%3C/svg%3E%0A");
  background-size: cover;
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 99;
}

.nav-buttons {
  display: flex;
}

.nav-buttons img {
  margin-right: 1rem;
  visibility: hidden;
}

.nav-buttons li {
  font-size: 1.2rem;
  color: #860000;
}
