*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:active,
a:link,
a:visited {
  color: rgb(140 140 140);
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: rgb(105, 105, 105);
  /* font-family: "Libre Baskerville", serif; */
}

.container {
  width: 100%;
  line-height: 2;
}

header {
  width: 40%;
  height: 100vh;
  background: #ffedf1;
  /* background: linear-gradient(to bottom, #ff6d8f21, #e229000a); */
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
  position: fixed;
  left: 0;
  z-index: 2;
}

nav {
  position: absolute;
  bottom: 5rem;
  left: 19%;
}
nav > ul {
  display: flex;
  height: 8rem;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1.4rem;
  transition: color 0.5s;
}

/* .whiteFont {
  color: white;
} */

.display-image {
  width: 25%;
  max-width: 27rem;
  position: fixed;
  left: 15%;
  top: 50%;
  margin-top: -12.5%;
  border-radius: 50%;
  z-index: 3;
}

.display-image.border {
  border: 10px solid #ffedf1;
}

.landing-img {
  /* opacity: 0; */
}

.anna-img {
  opacity: 0;
}

.skills-img {
  opacity: 0;
}

.contact-img {
  opacity: 0;
}

main {
  width: 100%;
  position: relative;
  right: 0;
  transition: background 0.5s;
}

.blackBackground {
  background: black;
}

.home-sections {
  width: 60%;
  height: 100vh;
  margin-left: 40%;
  max-height: 61rem;
  display: flex;
  justify-content: center;
  /* justify-content: flex-end; */
  align-items: center;
}

.home-sections > .content,
.project-section > .content {
  width: 70%;
  max-width: 44rem;
}

h1 {
  font-size: 5rem;
  font-family: alisha, sans-serif;
  line-height: 1;
  margin-bottom: 2rem;
  color: #fa5c5c;
}

@media screen and (max-width: 910px) {
  h1 {
    font-size: 3rem;
  }
}

p {
  /* font-size: 1.2rem; */
  /* padding: 1rem 0; */
}

.content ul {
  list-style-position: inside;
}
blockquote p {
  font-size: 1rem;
  margin-top: 2rem;
}

.landing-page {
  max-height: none;
  position: relative;
}

.button-container {
  height: 7rem;
  display: flex;
  align-items: center;
}

.button-container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 4rem;
}

.button {
  width: 10rem;
  height: 2.7rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  color: #fa5c5c;
  cursor: pointer;
  border: 2px solid #fa5c5c;
  background: white;
  font-family: inherit;
  text-transform: uppercase;
}

.button:hover {
  background: rgb(255, 103, 103);
  color: white;
}

.contact-button {
  margin-right: 2rem;
}

.resume-button {
}

.scroll-indicator {
  background-image: url("/images/arrow.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 5rem;
  height: 5rem;
  background-color: unset;
  border: unset;
  cursor: pointer;
}

.emphasize-text {
  color: #ff9f9f;
}

h1 .emphasize-text {
  color: #fa5c5c;
}

footer {
  display: flex;
  justify-content: flex-end;
}
footer .content {
  width: 35%;
  margin-right: 13%;
}
footer p {
  padding: 0;
}

.contact-form {
  display: grid;
  grid-template-areas:
    "name email "
    "subject subject"
    "message message"
    "submit submit";
  grid-gap: 0.5rem 2rem;
}

.form-label {
  display: block;
  padding: 0.5rem;
}
.form-input {
  width: 100%;
  height: 2.3rem;
  padding: 0.5rem;
  border-radius: 3px;
  border: solid #c1c1c1 1.7px;
}

.form-group-name {
  grid-area: name;
}
.form-group-email {
  grid-area: email;
}
.form-group-subject {
  grid-area: subject;
}
.form-group-message {
  grid-area: message;
}

.form-input {
  resize: none;
}

.form-message {
  height: 10rem;
}

.project-section {
  width: 100%;
  height: 100vh;
  max-height: 61rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
