.bounce {
  animation: bounce 1s linear infinite alternate;
}

@keyframes bounce {
  from {
    opacity: 0;
    transform: translate(0px, 50px);
  }
}

@keyframes scale {
  from {
    opacity: 0;
    transform: translate(0px, 50px);
  }
}

/* Animation */
#Flower {
  animation: rotate linear infinite 3s;
  transform-origin: center center;
  transform-box: fill-box;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
