*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:active,
a:link,
a:visited {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: rgb(105, 105, 105);
}

.container {
  width: 100%;
  line-height: 2;
}

img {
}

header {
  width: 40%;
  height: 100vh;
  transition: background 0.7s;
  background: #ffedf1;
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
  position: fixed;
  left: 0;
  z-index: 2;
}

nav {
  position: absolute;
  bottom: 5rem;
  left: 18%;
}
nav > ul {
  display: flex;
  height: 8rem;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1.4rem;
  transition: color 0.5s;
}

/* .whiteFont {
  color: white;
} */

.display-image {
  width: 25%;
  max-width: 27rem;
  position: fixed;
  left: 15%;
  top: 50%;
  margin-top: -12.5%;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
}

.display-image.border {
  border: 10px solid #ffedf1;
}

.landing-img {
  /* opacity: 0; */
}

.anna-img {
  opacity: 0;
}

.skills-img {
  opacity: 0;
}

.contact-img {
  opacity: 0;
}

main {
  width: 100%;
  position: relative;
  right: 0;
  transition: background 0.7s;
  overflow-x: hidden;
  /* background: #0a0a0a; */
}

.home-sections {
  width: 60%;
  height: 100vh;
  margin-left: 40%;
  max-height: 61rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-dividers {
  position: relative;
}

.add-dividers::after {
  content: url("/assets/images/divider.svg");
  position: absolute;
  bottom: 0;
  opacity: 0.3;
}

.home-sections > .content {
  width: 70%;
  max-width: 44rem;
  transition: color 1.5s;
  transition: background 1.5s;
}

.project-section {
  margin-left: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project:first-of-type {
  margin-top: 10rem;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  width: 90%;
  max-width: 55rem;
  box-shadow: 5px 4px 12px rgb(187 187 187 / 40%);
  margin-bottom: 8rem;
  padding: 2rem;
  position: relative;
  border-radius: 1rem;
}

.project > .content:not(#css_animations) {
  padding-right: 1rem;
  margin-right: 1rem;
}

.project .content:not(#css_animations) p {
  border-right: 3px solid rgb(230, 230, 230);
  padding-right: 1rem;
}

.project-section .project-summary {
  width: 90%;
  max-width: 55rem;
  /* margin: calc(25vh + 2rem) 0 10rem; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  z-index: 10;
  position: relative;
}

.project-summary p {
  background: rgba(255, 255, 255, 0.562);
  padding: 1rem;
}

@media screen and (max-width: 1160px) {
  .project {
    flex-direction: column;
  }

  .project img {
    position: absolute;
    right: 2rem;
    opacity: 0.2;
  }

  .project .content:not(#css_animations) p {
    border-right: none;
    padding-right: unset;
  }
}

h1 {
  font-size: 5rem;
  font-family: alisha, sans-serif;
  line-height: 1;
  margin-bottom: 2rem;
  color: #fa5c5c;
  transition: all 1.5s;
}

h2 {
  font-size: 3rem;
  font-family: alisha, sans-serif;
  line-height: 1;
  margin-bottom: 2rem;
  color: #fa5c5c;
}

p,
ul {
  z-index: 3;
  font-size: 1.2rem;
  transition: all 1.5s;
  /* padding: 1rem 0; */
}

@media screen and (max-width: 1110px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p,
  ul {
    font-size: 1rem;
  }
}

.content ul {
  list-style-position: inside;
}

blockquote p {
  font-size: 1rem;
  margin-top: 2rem;
}

.landing-page {
  max-height: none;
  position: relative;
}

.button-container {
  height: 7rem;
  display: flex;
  align-items: center;
}

.button-container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 4rem;
}

.button {
  width: 10rem;
  height: 2.7rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  color: #fa5c5c;
  border: solid 2px #fa5c5c;
  cursor: pointer;
  background: none;
  font-family: inherit;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background: #ff8d8d;
  border: solid 2px #ff8d8d;
  color: white;
}

.contact-button,
.livesite-button {
  margin-right: 2rem;
  background: #fa5c5c;
  color: white;
}

a.livesite-button {
  color: white;
}
a.github-button {
  color: #fa5c5c;
}

.emphasize-text,
a.emphasize-text {
  color: #ff7a7a;
}

h1 .emphasize-text {
  color: #fa5c5c;
}

footer {
  display: flex;
  justify-self: center;
  align-items: center;
}
footer .content {
  width: 60%;
  margin-left: 40%;
  text-align: center;
}
footer p {
  padding: 0;
}

.contact-form {
  display: grid;
  grid-template-areas:
    "name email "
    "subject subject"
    "message message"
    "submit submit";
  grid-gap: 0.5rem 2rem;
}

.form-label {
  display: block;
  padding: 0.5rem;
}
.form-input {
  width: 100%;
  height: 2.3rem;
  padding: 0.5rem;
  border-radius: 3px;
  border: solid #c1c1c1 1.7px;
}

.form-group-name {
  grid-area: name;
}
.form-group-email {
  grid-area: email;
}
.form-group-subject {
  grid-area: subject;
}
.form-group-message {
  grid-area: message;
}

.form-input {
  resize: none;
  -webkit-appearance: none;
  font-family: "Lato";
}

.form-message {
  height: 10rem;
  -webkit-appearance: none;
}

.nav-buttons {
  display: flex;
}

.nav-buttons img {
  margin-right: 1rem;
  display: none;
}

.nav-buttons li {
  font-size: 1.2rem;
  color: #ff0d2e;
}

button.arrow-down {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 13%;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}
